@charset "UTF-8";

/*
-------------------------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) { /* Configuração para Tablet*/
 body{
    background-image: linear-gradient(to top, #2c3e50, #f0f8ff);   
}

section#cadastro {
    width: 80vw;
    height: 280px;
}

   section#cadastro > div#formulario {
    float: right;
    width: 70%;
   }
}

@media screen and (min-width: 992px) { /*Configuração para Desktop*/
    body{
        background-image: linear-gradient(to top, #2c3e50, #f0f8ff);   
}

section#cadastro {
    width: 950px;
    height: 350px;
}

   section#cadastro > div#formulario {
    float: left;
    width: 50%;
   }

   div#formulario > h1 {
    font-size: 2em;
}

   div#formulario > p {
    font-size: 1em;
    margin: 20px 0px;  
}
}