/* Estilos básicos da página */
body {
    font-family: Arial, sans-serif;
    background-color: #00A3FF; /* Cor de fundo mais vibrante */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    color: #1A237E; /* Azul escuro para destaque */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}
label {
    font-weight: bold;
}
.form-group {
    margin-bottom: 15px;
    color: #1A237E; /* Azul escuro */

}


input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 8px;
    border: 2px solid #29B6F6; /* Borda azul clara */
    border-radius: 4px;
    box-sizing: border-box;
}
.button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: Light cyan;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #45a049;
}

/* Estilo para checkboxes e radios */
.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 5px;
    transform: scale(1.2);
}

/* Botão de envio */
.button {
    width: 100%;
    padding: 10px;
    background-color: #43A047; /* Verde vibrante */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

/* Efeito hover no botão */
.button:hover {
    background-color: #388E3C; /* Verde mais escuro no hover */
}

/* Mensagem de sucesso */
.success-message {
    display: none;
    color: green;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}